@font-face {
   font-family: 'Kingthings Trypewriter 2';
   font-display: swap;
   src: url('file:///C:/Users/lydia/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-06-01_225606/fonts/Kingthings%20Trypewriter%202/font.ttf');
}
