@font-face {
   font-family: 'Kingthings Trypewriter 2';
   font-display: swap;
   src: url('Kingthings Trypewriter 2/font.ttf');
}
@font-face {
   font-family: 'McGareyRegular';
   font-display: swap;
   src: url('McGareyRegular/font.ttf');
}
