@font-face {
   font-family: 'McGareyRegular';
   font-display: swap;
   src: url('file:///C:/Users/lydia/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-06-01_225606/fonts/McGareyRegular/font.ttf');
}
